* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #333;
}

nav {
    background: #1f2937;
    color: white;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    background: #2563eb;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
}

.btn:hover {
    background: #1d4ed8;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.container h1 {
    margin-bottom: 25px;
}

.container h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    min-height: 80px;
    resize: vertical;
}

.submit-btn {
    margin-top: 25px;
    padding: 12px 25px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background: #1d4ed8;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background: #1f2937;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    background: #f8fafc;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
}

#eligibilityResult {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    background: #f8fafc;
}

.eligible {
    border: 2px solid green;
}

.not-eligible {
    border: 2px solid red;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        margin: 5px;
        display: inline-block;
    }

    .hero h1 {
        font-size: 30px;
    }

    .container {
        width: 95%;
        padding: 20px;
    }

    table {
        font-size: 12px;
    }
}